#index-banner.parallax-container
  .section.no-pad-bot
    .container      
      %br
        %br
          -#%h1.header.center.teal-text.text-lighten-2 Parallax Template
          %h1.header.center            
            = image_tag('profile-picture.jpg',:width => '100',:class => 'circle responsive-img hoverable')
            
          .row.center
            %h5.header.col.s12.light{:style => 'text-shadow: 2px 2px 5px #333;'}
              "
              = @tag_line
              "
          .row.center
            %a#download-button.btn-large.waves-effect.waves-light.teal.lighten-1{:href => "gamerzwiki.com"} Get Started
          %br
            %br
  .parallax
    = image_tag('wallpaper_material_big.jpg',:width => '1000')
    
.container{:style => 'height:500px;'}
  #threesome
    .section
      / Icon Section
      .row
        .col.s12.m3.transition{:style => "display:none;"}
          .icon-block.hoverable
            %h2.center.brown-text
              %i.material-icons flash_on
            %h5.center App in a flash
            %p.light Delivering the output on time is the best I do. Not only I deliver but I deliver efficient apps on time. Extra efforts and thinking out of the box making the app the best upon delivery.
        .col.s12.m3.transition{:style => "display:none;"}
          .icon-block.hoverable
            %h2.center.brown-text
              %i.material-icons group
            %h5.center User Experience
            %p.light By utilizing elements and principles of Material Design, Flat UI and UX/UI, and giving importance to user experience aside from a very good backend, Coming up with a good user experience is at hand. These together with a very good backend is the secret recipe for the best apps out there.
        .col.s12.m3.transition{:style => "display:none;"}
          .icon-block.hoverable
            %h2.center.brown-text
              %i.material-icons settings
            %h5.center Process
            %p.light Process - a very important thing when it comes to system architecture and development. The good thing is this is where I excel. 
        .col.s12.m3.transition{:style => "display:none;"}
          .icon-block.hoverable
            %h2.center.brown-text
              %i.material-icons trending_up
            %h5.center Management
            %p.light We have provided detailed documentation as well as specific code examples to help new users get started. We are also always open to feedback and can answer any questions a user may have about Materialize.