%footer.page-footer
  .container
    .row
      .col.l5.s12
        %h5.white-text Emil Enriquez
        %p.grey-text.text-lighten-4 Profile, Blog, Tutorials
      .col.l5.offset-l2.s12        
        %h5.white-text Join the Discussion and Learn from my Blogs and Tuts
        %p.grey-text.text-lighten-4 There is a section for blogs and tutorials. You can either read or even create your own blog ad tutorial. You can share it to others as well. Like they say Sharing is Loving. Spread the love!
        %a.btn.waves-effect.waves-light.red.lighten-3{:href => "/blog", :target => "_blank"} Join
  .footer-copyright
    .container
      .left
        © 2015 Emil Enriquez All Rights Reserved
      .right
        .row
          .col.s3
            %a.grey-text.text-lighten-4{:href => "https://www.facebook.com/emilenriquez", :target => '_blank'}
              %i.fa.fa-facebook.fa-lg
          .col.s3
            %a.grey-text.text-lighten-4{:href => "https://www.github.com/emilenriquez", :target => '_blank'}
              %i.fa.fa-github.fa-lg
          .col.s3
            %a.grey-text.text-lighten-4{:href => "http://stackoverflow.com/users/1418771/emil-re%C3%B1a-enriquez", :target => '_blank'}
              %i.fa.fa-stack-overflow.fa-lg
          .col.s3
            %a.grey-text.text-lighten-4{:href => "https://ph.linkedin.com/pub/emil-enriquez/38/119/433", :target => '_blank'}
              %i.fa.fa-linkedin.fa-lg