%header.header
  %ul.nav.nav-list.pull-left
    %li
      %a{"data-toggle" => "menu", :href => "#menu"}
        %span.icon.icon-lg menu
  %a.header-logo{:href => "/"} Emil Enriquez
  %ul.nav.nav-list.pull-right
    %li
      %a{"data-toggle" => "menu", :href => "#profile"}
        %span.access-hide John Smith
        %span.avatar
          %img{:alt => "alt text for John Smith avatar", :src => "https://goo.gl/zqGgHq"}/