%nav.uk-navbar
  %a.uk-navbar-brand
    Emil Enriquez
  %ul.uk-navbar-nav
    %li.uk-parent.uk-active{"data-uk-dropdown" => ""}
      %a{:href => ""}
        %i.uk-icon-home
        Games
      .uk-dropdown.uk-dropdown-navbar
        %ul.uk-nav.uk-nav-navbar
          %li
            %a{:href => "/games"} View Games
          %li
            %a{:href => "/games/new"} Create New Game
          %li.uk-nav-header Header
          %li
            %a{:href => "#"} Item
          %li
            %a{:href => "#"} Another item
          %li.uk-nav-divider
          %li
            %a{:href => "#"} Separated item
  .uk-navbar-content    
    = link_to 'Games', '/games', :class => "uk-button uk-button-primary" 

  .uk-navbar-content.uk-navbar-flip.uk-hidden-small
    .uk-button-group
      %a.uk-button.uk-button-primary
        =t(:register)
      %a.uk-button.uk-button-primary 
        =t(:login)
    
